@model IEnumerable<ProntoPizzas.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="crud-link" asp-action="Create">Create New</a>
</p>
<table class="table custom-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                Products
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
                <td>
                    <ul>
                        @foreach (var op in item.OrderProducts)
                        {
                            <div>
                                @op.Product.PizzaName (@op.Size) x @op.Quantity
                            </div>
                        }
                    </ul>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                <a class="crud-link" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a class="crud-link" asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a class="crud-link" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
